In [2]:
import pandas as pd

In [3]:
with open("../Strength Analysis/rockyousubset.txt", "r") as file:
    passes = file.readlines()
    data = [x.split("\n")[0] for x in passes]

In [20]:
def substring(s):
 
    ans, temp = 1, 1
    for i in range(1, len(s)):
        if (s[i] == s[i - 1]):
            temp += 1
        else:
            ans = max(ans, temp)
            temp = 1
    ans = max(ans, temp)
    return ans - 1

In [11]:
length = [len(x) for x in data]
unique_chars = [len(set(x)) for x in data]
numbers = [sum(char.isdigit() for char in x) for x in data]
symbols = [sum(not (char.isdigit() or char.isalpha()) for char in x) for x in data]
symbols_and_numbers = [numbers[i] + symbols[i] for i in range(len(numbers))]
sequentials = [substring(x) for x in data]

In [9]:
print(data[0:5])
print(length[0:5])
print(unique_chars[0:5])
print(numbers[0:5])
print(symbols[0:5])
print(symbols_and_numbers[0:5])
print(sequentials[0:5])

['04269815011', 'spider1g', 'ktheed', '256082', 'cmt1662']
[11, 8, 6, 6, 7]
[8, 8, 5, 5, 6]
[11, 1, 0, 6, 4]
[0, 0, 0, 0, 0]
[11, 1, 0, 6, 4]
[2, 1, 2, 1, 2]

In [12]:
csv = pd.DataFrame()
csv["password"] = data
csv["length"] = length
csv["unique_chars"] = unique_chars
csv["numbers"] = numbers
csv["symbols"] = symbols 
csv["symbols_and_numbers"] = symbols_and_numbers
csv["sequentials"] = sequentials

In [13]:
csv.head()

,password,length,unique_chars,numbers,symbols,symbols_and_numbers,sequentials
0,04269815011,11,8,11,0,11,1
1,spider1g,8,8,1,0,1,0
2,ktheed,6,5,0,0,0,1
3,256082,6,5,6,0,6,0
4,cmt1662,7,6,4,0,4,1

In [16]:
csv.to_csv("../rockyousubset_extended.csv", index=False)

In [3]:
#THIS NEXT PORTION IS TO WORK ON THE CSV AFTER IT HAS BEEN CREATED
df = pd.read_csv("../rockyousubset_extended.csv")

In [12]:
df2 = df[df.length < 30]

In [8]:
df_symbols = df2[df2.length == df2.symbols]

In [14]:
df2.head()

,password,length,unique_chars,numbers,symbols,symbols_and_numbers,sequentials
0,04269815011,11,8,11,0,11,1
1,spider1g,8,8,1,0,1,0
2,ktheed,6,5,0,0,0,1
3,256082,6,5,6,0,6,0
4,cmt1662,7,6,4,0,4,1

In [15]:
df2.to_csv("../rockyousubset_extended.csv", index=False)

In [12]:
top_pass_by_country = pd.read_csv("../top_200_password_2020_by_country.csv")

In [13]:
top_pass_by_country["Global_rank"] = top_pass_by_country["Global_rank"].fillna(0)

In [14]:
top_pass_by_country

,country_code,country,Rank,Password,User_count,Time_to_crack,Global_rank,Time_to_crack_in_seconds
0,au,Australia,1,123456,308483,< 1 second,1.0,0
1,au,Australia,2,password,191880,< 1 second,5.0,0
2,au,Australia,3,lizottes,98220,3 Hours,0.0,10800
3,au,Australia,4,password1,86884,< 1 second,16.0,0
4,au,Australia,5,123456789,75856,< 1 second,2.0,0
...,...,...,...,...,...,...,...,...
9795,vn,Vietnam,196,hongngoc,2660,3 Hours,0.0,10800
9796,vn,Vietnam,197,anhtien,2628,17 Minutes,0.0,1020
9797,vn,Vietnam,198,lanhuong,2620,3 Hours,0.0,10800
9798,vn,Vietnam,199,congacon,2584,2 Hours,0.0,7200
9799,vn,Vietnam,200,conmemay,2532,3 Hours,0.0,10800

In [15]:
top_pass_by_country = top_pass_by_country[top_pass_by_country["country"].isin(["United States", "Spain", "China", "Russia", "Vietnam"])]

In [16]:
top_pass_by_country

,country_code,country,Rank,Password,User_count,Time_to_crack,Global_rank,Time_to_crack_in_seconds
1200,cn,China,1,123456,8159358,< 1 second,1.0,0
1201,cn,China,2,123456789,1817250,< 1 second,2.0,0
1202,cn,China,3,12345678,700019,< 1 second,6.0,0
1203,cn,China,4,654321,245827,< 1 second,23.0,0
1204,cn,China,5,1234567890,210168,< 1 second,9.0,0
...,...,...,...,...,...,...,...,...
9795,vn,Vietnam,196,hongngoc,2660,3 Hours,0.0,10800
9796,vn,Vietnam,197,anhtien,2628,17 Minutes,0.0,1020
9797,vn,Vietnam,198,lanhuong,2620,3 Hours,0.0,10800
9798,vn,Vietnam,199,congacon,2584,2 Hours,0.0,7200
9799,vn,Vietnam,200,conmemay,2532,3 Hours,0.0,10800

In [17]:
top_pass_by_country.to_csv("../top_200_password_2020_by_country_expanded.csv", index=False)

In [22]:
data = top_pass_by_country["Password"]
length = [len(x) for x in data]
unique_chars = [len(set(x)) for x in data]
numbers = [sum(char.isdigit() for char in x) for x in data]
symbols = [sum(not (char.isdigit() or char.isalpha()) for char in x) for x in data]
symbols_and_numbers = [numbers[i] + symbols[i] for i in range(len(numbers))]
sequentials = [substring(x) for x in data]
print(data[0:5])
print(length[0:5])
print(unique_chars[0:5])
print(numbers[0:5])
print(symbols[0:5])
print(symbols_and_numbers[0:5])
print(sequentials[0:5])
top_pass_by_country["length"] = length
top_pass_by_country["unique_chars"] = unique_chars
top_pass_by_country["numbers"] = numbers
top_pass_by_country["symbols"] = symbols 
top_pass_by_country["symbols_and_numbers"] = symbols_and_numbers
top_pass_by_country["sequentials"] = sequentials

1200        123456
1201     123456789
1202      12345678
1203        654321
1204    1234567890
Name: Password, dtype: object
[6, 9, 8, 6, 10]
[6, 9, 8, 6, 10]
[6, 9, 8, 6, 10]
[0, 0, 0, 0, 0]
[6, 9, 8, 6, 10]
[0, 0, 0, 0, 0]

<ipython-input-22-70d67ee92d96>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_pass_by_country["length"] = length
<ipython-input-22-70d67ee92d96>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_pass_by_country["unique_chars"] = unique_chars
<ipython-input-22-70d67ee92d96>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_pass_by_country["numbers"] = numbers
<ipython-input-22-70d67ee92d96>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_pass_by_country["symbols"] = symbols
<ipython-input-22-70d67ee92d96>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_pass_by_country["symbols_and_numbers"] = symbols_and_numbers
<ipython-input-22-70d67ee92d96>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_pass_by_country["sequentials"] = sequentials

In [23]:
top_pass_by_country

,country_code,country,Rank,Password,User_count,Time_to_crack,Global_rank,Time_to_crack_in_seconds,length,unique_chars,numbers,symbols,symbols_and_numbers,sequentials
1200,cn,China,1,123456,8159358,< 1 second,1.0,0,6,6,6,0,6,0
1201,cn,China,2,123456789,1817250,< 1 second,2.0,0,9,9,9,0,9,0
1202,cn,China,3,12345678,700019,< 1 second,6.0,0,8,8,8,0,8,0
1203,cn,China,4,654321,245827,< 1 second,23.0,0,6,6,6,0,6,0
1204,cn,China,5,1234567890,210168,< 1 second,9.0,0,10,10,10,0,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,vn,Vietnam,196,hongngoc,2660,3 Hours,0.0,10800,8,5,0,0,0,0
9796,vn,Vietnam,197,anhtien,2628,17 Minutes,0.0,1020,7,6,0,0,0,0
9797,vn,Vietnam,198,lanhuong,2620,3 Hours,0.0,10800,8,7,0,0,0,0
9798,vn,Vietnam,199,congacon,2584,2 Hours,0.0,7200,8,5,0,0,0,0
9799,vn,Vietnam,200,conmemay,2532,3 Hours,0.0,10800,8,7,0,0,0,0

In [25]:
top_pass_by_country.to_csv("../top_200_password_2020_by_country_extended.csv", index=False)